<!-- Features Start -->

<link href="~/css/Futures_styles.css" rel="stylesheet" />
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">

        <!-- Row will repeated in code backend-->
        <div class="row">
            <div class="row col-lg-4  pe-lg-0 wow fadeIn " data-wow-delay="0.5s" style="height:auto !important ;margin-top: 0 !important;" id="Section9">
                <div class="col-lg-8  col-md-4 col-sm-8  mvb">
                    <div class="portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-item1">
                            <div class="portfolio-img1 rounded overflow-hidden">
                                @* class="img-fluid" *@
                                <div><img src="~/img/suhage12.jpg" alt="" width="320px" height="200px"></div>
                                <div class="portfolio-btn1">
                                    <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                                <div class="text_v"><h6 class="">التخزين و النقل</h6></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8  col-md-4 col-sm-8  mvb">
                    <div class="portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-item1">
                            <div class="portfolio-img1 rounded overflow-hidden">
                                @* class="img-fluid" *@
                                <img src="~/img/suhage16.jpg" alt="" width="320px" height="200px">
                                <div class="portfolio-btn1">
                                    <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                                <h6 class="">التخزين و النقل</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-4 col-sm-8 mvb">
                    <div class="portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-item1">
                            <div class="portfolio-img1 rounded overflow-hidden">
                                @* class="img-fluid" *@
                                <img src="~/img/suhage17.jpg" alt="" width="320px" height="200px">
                                <div class="portfolio-btn1">
                                    <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                                <h6 class="">التخزين و النقل</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row col-lg-8 reverseForB feature-text py-5 wow fadeIn" data-wow-delay="0.1s" id="Section10">
                <div class="row reverseForB mvb">

                    <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">
                        <h6 class="text-primary"></h6>
                        <h1 class="mb-4">التدريب</h1>
                        <p class="mb-4 pb-2">

                            تقوم إدارة الشركة بإعداد برامج تدريبية للعاملين بها لتنمية مهارات العاملين الإدارية والقيادية وكذلك البرامج التدريبية فى
                            مجال الطحن ومراقبة الجودة والأمن والسلامة والصحة المهنية وكافة مجالات الشركة التى تخدم أغراض النهوض بالعاملين بالشركة
                            وخلق صف ثانى من الكوادر والقيادات ويتم التدريب داخل وخارج الشركة
                        </p>
                        <div class="row g-4">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 d-lg-block  d-sm-none wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                            <div class="portfolio-item1 photo1">
                                <div class="portfolio-img1 rounded overflow-hidden">
                                    <img class="img-fluid" src="~/img/suhage10.jpg" alt="" width="270px" height="150px">
                                    <div class="portfolio-btn1">
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row reverseForB mvb">
                    <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">
                        <h6 class="text-primary"></h6>
                        <h1 class="mb-4">التدريب</h1>
                        <p class="mb-4 pb-2">

                            تقوم إدارة الشركة بإعداد برامج تدريبية للعاملين بها لتنمية مهارات العاملين الإدارية والقيادية وكذلك البرامج التدريبية فى
                            مجال الطحن ومراقبة الجودة والأمن والسلامة والصحة المهنية وكافة مجالات الشركة التى تخدم أغراض النهوض بالعاملين بالشركة
                            وخلق صف ثانى من الكوادر والقيادات ويتم التدريب داخل وخارج الشركة
                        </p>
                        <div class="row g-4">
                        </div>
                    </div>

                    <div class="col-lg-4  col-md-4 d-lg-block  d-sm-none wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                            <div class="portfolio-item1 photo1">
                                <div class="portfolio-img1 rounded overflow-hidden">
                                    <img class="img-fluid" src="~/img/suhage12.jpg" alt="" width="270px" height="150px">
                                    <div class="portfolio-btn1">
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row reverseForB mvb">
                    <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.5s">
                        <h6 class="text-primary"></h6>
                        <h1 class="mb-4">التدريب</h1>
                        <p class="mb-4 pb-2">

                            تقوم إدارة الشركة بإعداد برامج تدريبية للعاملين بها لتنمية مهارات العاملين الإدارية والقيادية وكذلك البرامج التدريبية فى
                            مجال الطحن ومراقبة الجودة والأمن والسلامة والصحة المهنية وكافة مجالات الشركة التى تخدم أغراض النهوض بالعاملين بالشركة
                            وخلق صف ثانى من الكوادر والقيادات ويتم التدريب داخل وخارج الشركة
                        </p>
                        <div class="row g-4">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 d-lg-block  d-sm-none wow fadeInUp" data-wow-delay="0.5s">
                        <div class="portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                            <div class="portfolio-item1 photo1">
                                <div class="portfolio-img1 rounded overflow-hidden">
                                    <img class="img-fluid" src="~/img/suhage18.jpg" alt="" width="270px" height="120px">
                                    <div class="portfolio-btn1">
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
