<!-- Mills Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">

            <h1 class="mb-4">وحدات الشركة</h1>
        </div>
        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">جميع المطاحن</li>
                    <li class="mx-2" data-filter=".first"> مطاحن الكوثر</li>
                    <li class="mx-2" data-filter=".second">مطاحن الشرابية</li>
                    <li class="mx-2" data-filter=".third"> مطاحن الصفا و المروة</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/55.jpg" alt="" width="100%">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/55.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-primary mb-0"> الشركة القابضة لمطاحن سوهاج</p>
                    <hr class="text-primary w-25 my-2">
                    <h5 class="lh-base">لسنا الافضل و لكننا رواد فى شركة كطاجن مصر العليا</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/54.jpg" alt="" width="100%">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-primary mb-0"> الشركة القابضة لمطاحن سوهاج</p>
                    <hr class="text-primary w-25 my-2">
                    <h5 class="lh-base">لسنا الافضل و لكننا رواد فى شركة كطاجن مصر العليا</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/53.jpg" alt="" width="100%">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/53.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-primary mb-0"> الشركة القابضة لمطاحن سوهاج</p>
                    <hr class="text-primary w-25 my-2">
                    <h5 class="lh-base">لسنا الافضل و لكننا رواد فى شركة كطاجن مصر العليا</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/55.jpg" alt="" width="100%">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/55.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-primary mb-0"> الشركة القابضة لمطاحن سوهاج</p>
                    <hr class="text-primary w-25 my-2">
                    <h5 class="lh-base">لسنا الافضل و لكننا رواد فى شركة كطاجن مصر العليا</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/54.jpg" alt="" width="100%">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/54.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-primary mb-0"> الشركة القابضة لمطاحن سوهاج</p>
                    <hr class="text-primary w-25 my-2">
                    <h5 class="lh-base">لسنا الافضل و لكننا رواد فى شركة كطاجن مصر العليا</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/53.jpg" alt="" width="100%">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/53.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="text-primary mb-0"> الشركة القابضة لمطاحن سوهاج</p>
                    <hr class="text-primary w-25 my-2">
                    <h5 class="lh-base">لسنا الافضل و لكننا رواد فى شركة كطاجن مصر العليا</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mills End -->