<!-- Service Start -->
<div class="container-xxl py-5 text-center reverseForA">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
            <h6 class="text-primary"></h6>
           @*  <h1 class="mb-4">-----------</h1> *@
        </div>
        <div class="row g-4 reverseForB">
            <div class="col-md-6 col-lg-3 wow fadeInUp Card_Service" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="img/54.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-3x"></i>
                        </div>
                        <h4 class="mb-3">منتجات الشركة</h4>
                        <p>لدينا العديد من المنتجات عالية الجودة ذات اسم تجارى فى مجال الصناعات الغذائية فى مصر و عدد اخر من الدول العربية و الافريقية. و اكبر ما نتطلع الية بالنسبة لمنتجاتنا هو الثبات على الجودة و التقدم الى الافضل دائما حيث ان الجودة هى العامل الوحيد ذو الأهمية فى الحفاظ على السمعة الطيبة التى اكتسبناها من.</p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp Card_Service" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="img/54.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-wind fa-3x"></i>
                        </div>
                        <h4 class="mb-3">وحدات و فروع الشركة</h4>
                        <p>يتبع الشركة عدد 12وحدة إنتاجية ( لإنتاج الدقيق بـأنواعه ) ، مصنع لإنتاج المكرونة ،مركز تعبئة الدقيق الواحد كيلو الورقى والمنتجات الآخرى فضلاً عن صناعه الخبز البلدى والافرنجى والمخبوزات.</p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp Card_Service" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="img/54.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-3x"></i>
                        </div>
                        <h4 class="mb-3">القوائم المالية</h4>
                        <p><a href="#">الموازنة التقديرية</a> </p>
                        <p><a href="#">اجتماع مجلس الادارة</a></p>
                        <p><a href="#">تاريخ القيد بالبورصة</a></p>
                        <p><a href="#">قرارات الجمعية العامة</a></p>

                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp Card_Service" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="img/54.jpg" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-3x"></i>
                        </div>
                        <h4 class="mb-3">التخزين و النقل</h4>
                        <p>أسطول من سيارات النقل الخفيف والشاحنات الثقيلة تملكها الشركة ويعمل بكفاءة سواء فى توصيل الأقماح للمطاحن او فى نقل وتوزيع المنتجات للعملاء . يعد ايضا التخزين من الأنشطة الاقتصادية ذات القيمة المضافة الملموسة لعوائد الشركة وتمتلك الشركة قدرة تخزينية من الصوامع والبناكر تصل إلى 160 الف طن.</p>
                        <a class="small fw-medium" href="">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
