

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-2" href="#">  مطاحن مصر العليا بسوهاج </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
@*             <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> *@
            @* <a><i class="bi bi-arrow-left" style="color:#fff;background-color:#0f0"></i></a> *@
            @* rounded-circle *@
            <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-primary btn-lg-square  back-to-top"><i class="bi bi-arrow-up" style="color:#fff"> الصفحة الرئيسية</i></a>
          
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-center" href="#" >إعدادات</a></li>
                @* <li><a class="dropdown-item text-center" href="#">الحالى </a></li> *@
                <li><hr class="dropdown-divider" /></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <!--
                    <a class="navbar-brand btn btn-primary Login" asp-action="Login" asp-controller="Account">Login</a>
                    <a class="navbar-brand btn btn-primary Register" asp-action="Register" asp-controller="Account">Register</a>

                    -->

                    
                }
                else
                {
                    <li><a class="dropdown-item text-center" href="#"> @User.Identity.Name </a></li>
                    @* asp - route - id = "@Model?.Id" *@

                    <li><a class="dropdown-item text-center" asp-action="LogOut" asp-controller="Account">تسجيل خروج </a></li>
                    @* <a class="navbar-brand btn btn-primary Login" asp-action="LogOut" asp-controller="Account">LogOut</a> *@
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Register" asp-controller="Account" class="dropdown-item text-center">Add User</a>
                }
            </ul>
        </li>
    </ul>
</nav>